// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#777"}};
$color-secondary: {{.color_secondary | default "#0AA8A7"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$light: {{.light | default "#EDF6F5"}};
$gray: {{.gray | default "#EDF6F5"}};


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

@import 'templates/bootstrap';

@import "mixins";

@import "typography";

@import "components/typography-enhancements";

@import "buttons";

@import "common";

@import "templates/navigation";

@import "templates/main";

@import "templates/footer";

@import "components/wave";

@import "components/gallery";

@import "components/toc";

@import "components/blog-single";

@import "components/blog-card";

@import "components/code-blocks";

@import "components/responsive-tables";
@import "components/til-tables";
@import "components/portfolio-content";

@import "components/navbar-search";

@import "components/pagination";
@import "components/portfolio-grid";
@import "components/cursor-animation";
@import "components/hero-mobile-fix";
@import "components/mobile-fixes";

@import "custom";
